<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Blog de Demian</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/style-blog.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="cont-about">
        <%- include('./partials/about') %>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Listado del nombre de todos los articulos.
Si.
TODOS.
Que no se escape ninguno. Esto para funcionar como indice principal de busqueda.

  — En el momento en el que se empiecen a usar fechas, agregarselas antes del titulo entre corchetes
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="about-blog-list">
          <h2>Todas las entradas:</h2>
          <ul>
            <% for(let i = 0; i+1 <= articleRange; i++){ %>
            <li><a href="/blog/<%= articles[i].id %>"><%= articles[i].title %></a></li>
            <% } %>
          </ul>
        </div>
      </div>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Visualizacion de las entradas de blog

  — Crear paginacion para mostrar de 10 en 10 los articulos.
  — Intentar mejorar la presentación de los mismos. La estructura "IMAGEN/TITULO/
    DESCRIPCIÓN" ya no me convence tanto...
  — Hacer pruebas con la previsualización de las imagenes.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="cont-blog">
        <h1>El Blog de Demian</h1>

        <% for(let i = 0; i < artRend.length; i++){%>
        <div class="content">
          <div>
            <a href="/blog/<%= artRend[i].id %>"><img src="<%= artRend[i].imgTemplate %>" alt=""/></a>
          </div>
          <div>
            <h2><a href="/blog/<%= artRend[i].id %>"><%= artRend[i].title %></a></h2>
            <p><%= artRend[i].description %></p>
          </div>
        </div>
        <% } %>

        <div class="pagination-blog">
          <% if(artRendPrevius){%>
            <p><a href="/blog?page=<%= artRendPrevius %>&limit=5"><</a></p>
          <% } %>

          <% for(let i = 0; i < indexLength.length; i++) {%>
            <p><a href="/blog?page=<%= i + 1 %>&limit=5"><%= i + 1 %></a></p>
          <%}%>
  
          <% if(artRendNext){%>
            <p><a href="/blog?page=<%= artRendNext %>&limit=5">></a></p>
          <% } %>
        </div>

      </div>
    </div>

    

    <%- include('./partials/footer') %>
  </body>
</html>
