<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Blog de Demian</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/style-blog.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <aside class="about">
        <%- include('./partials/about') %>

<!-- ~~~~~ LISTADO DE TODAS LAS ENTRADAS ~~~~~ -->
        <div class="about-blog-list">
          <h2>Todas las entradas:</h2>
          <ul>
            <% for(let i = 0; i+1 <= articleRange; i++){ %>
            <li><a href="/blog/<%= articleList[i].slug %>"><%= articleList[i].title %></a></li>
            <% } %>
          </ul>
        </div>
      </aside>

<!-- ~~~~~ LISTADO DE ENTRADAS DEL BLOG ~~~~~ -->
      <section class="main">
        <h1>El Blog de Demian</h1>

        <% for(let i = 0; i < Render.length; i++){%>
        <article class="mainCard">
          <div>
            <a href="/blog/<%= Render[i].slug %>"><img src="<%= Render[i].imgTemp %>" alt=""/></a>
          </div>
          <div>
            <h2><a href="/blog/<%= Render[i].slug %>"><%= Render[i].title %></a></h2>
            <p><%= Render[i].description %></p>
          </div>
        </article>
        <% } %>

<!-- ~~~~~ MENU DE NAVEGACIÓN DE LAS ENTRADAS ~~~~~ -->
        <div class="pagination">
          <% if(Previus){%>
            <p><a href="/blog?page=<%= Previus %>&limit=5"><</a></p>
          <% } %>

          <% for(let i = 0; i < indexLength; i++) {%>
            <p><a href="/blog?page=<%= i + 1 %>&limit=5"><%= i + 1 %></a></p>
          <%}%>
  
          <% if(Next){%>
            <p><a href="/blog?page=<%= Next %>&limit=5">></a></p>
          <% } %>
        </div>

      </section>
    </div>

    

    <%- include('./partials/footer') %>
  </body>
</html>
