<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demian Hallyfax</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/style-blog.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="cont-about">
        <%- include('./partials/about') %>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Listado del nombre de todos los articulos.
Si.
TODOS.
Que no se escape ninguno. Esto para funcionar como indice principal de busqueda.

  — En el momento en el que se empiecen a usar fechas, agregarselas antes del titulo entre corchetes
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
      " o [xx/xx/xxxx] — <Titulo del Articulo> "
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="about-blog-list">
          <h2>Todas las entradas:</h2>
          <ul>
            <% for(let i = 0; i+1 <= articleRange; i++){ %>
            <li><a href="#"><%= articles[i].title %></a></li>
            <% } %>
          </ul>
        </div>
      </div>

      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Visualizacion de las entradas de blog

  — Crear paginacion para mostrar de 10 en 10 los articulos.
  — Intentar mejorar la presentación de los mismos. La estructura "IMAGEN/TITULO/
    DESCRIPCIÓN" ya no me convence tanto...
  — Hacer pruebas con la previsualización de las imagenes.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <div class="cont-blog">
        <h1>El Blog de Demian</h1>

        <% for(let i = 0; i < artRend.length; i++){%>
        <div class="content">
          <div>
            <img src="https://placehold.co/200x200" alt="" />
          </div>
          <div>
            <h2><%= artRend[i].title %></h2>
            <p><%= artRend[i].description %></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
