<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demian Hallyfax</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/style-gallery.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="cont-about"><%- include('./partials/about') %></div>

      <div class="gallery-container">
        <div class="gallery-title">
            <h1>Galeria</h1>
          </div>
    
          <div class="gallery-content">
            <% for(let i = 0; i < gallery.length; i++) {%>
            <a href="/Gallery/<%= gallery[i].id %>">
                <img src="<%= gallery[i].placeholder %>" alt="">
            </a>
            <% } %>
          </div>
      </div>

    </div>
    
    <%- include('./partials/footer') %>
  </body>
</html>
