<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/assets/styleSGDH.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <title>SGDH - ARTICLES</title>
  </head>
  <body>
    <div class="container">
      <h1>Articles</h1>

      <div class="btn-new">
        <a href="/SGDH/articles/new">New Article</a>
      </div>

      <% for(let i = 0; i < articles.length; i++){ %>

      <div class="article-card">
        <div><img src="<%= articles[i].imgTemplate %>" alt="" /></div>
        <div class="card-description">
          <h2><%= articles[i].title %></h2>
          <p><%= articles[i].createdAt.toLocaleDateString() %></p>
          <p><%= articles[i].description %></p>

          <div class="card-selection">
            <a href="/SGDH/articles/<%= articles[i].slug %>" class="show-btn">Ver Articulo (prev)</a>

            <form action="/SGDH/articles/<%= articles[i].id %>?_method=DELETE" method="post">
              <button type="submit" class="delete-btn">ELIMINAR</button>
            </form>
          </div>
        </div>
      </div>

      <% } %>
    </div>
  </body>
</html>
